In [1]:
# ML project on Music recomendation.
# This project aims to be a Framework & compas for any beginner in ML.



# ---> Gather Data & Load Libraries

import pandas as pd
import numpy as np
import matplotlib as plot
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
# om sklearn.externals import joblib   # This lib helps us save & load models.

df = pd.read_csv('musicZA.csv')

In [2]:
# ---> Lets Inspect & Analyse our Dataset/frame.

# df = dataset = dataframe = Table & all its values.
# df.head() = 1st 5rows of our df.
# df.shape = (Rows, Columns).
# df.describe() = Descriptive Statistics = Mean, Std Dev, Variance etc,...
#                 on each column.
# df.values = array([[1,a], [2,b], [3,c]]) info on our dataset.
# Gender = 1(Male) & 0(Female)
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1   House
4   29       1   House

In [4]:
df.shape

(18, 3)

In [5]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [6]:
#showing values without column names
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'House'],
       [29, 1, 'House'],
       [30, 1, 'House'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Piano'],
       [27, 0, 'Piano'],
       [30, 0, 'Piano'],
       [31, 0, 'Gospel'],
       [34, 0, 'Gospel'],
       [35, 0, 'Gospel']], dtype=object)

In [31]:
#Checking for null values

print(df.isnull().sum())

age       0
gender    0
genre     0
dtype: int64

In [4]:
# ---> Split the data into input & output.
# X will be our input
X = df.drop(columns = ['genre'])   
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
y = df['genre']   # This will be our Output dataset = y.
y

0        HipHop
1        HipHop
2        HipHop
3         House
4         House
5         House
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12        Piano
13        Piano
14        Piano
15       Gospel
16       Gospel
17       Gospel
Name: genre, dtype: object

In [8]:
# ---> Model creation using ML Algorithms.

model = DecisionTreeClassifier()   
model.fit(X, y)   # Training our model to learn from patterns in our data.
#                   -fit(Input set, Output set).



# making a prediction to see if our model works by insrting an age value and gender value.

prediction = model.predict([[28, 1]])
print("Prediction =", prediction)

prediction1 = model.predict([[21, 1], [22, 0]])
print("Prediction1 =", prediction1)

prediction2 = model.predict([[31, 0]])
print("Prediction2 =", prediction2)

Prediction = ['House']
Prediction1 = ['HipHop' 'Dance']
Prediction2 = ['Gospel']

In [22]:
# ---> Measuring Accuracy of a model.
#      We split our dataset into training & testing before.

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)   # 20% of our data is for Testing.
#print(X_train.describe())
#print(X_test.describe())
#print(y_test.describe())

model.fit(X_train, y_train)
predictions = model.predict(X_test)

#Our Accuracy changes by big margins,
#reason is small dataset.

Acc_score = accuracy_score(y_test, predictions)
print("Accuracy Score = ", Acc_score*100,"%.")   
# ---> Model Persistance.
#      Persistance uses a method called JobLib.dump(model_name, 'file_name-recommender.job')

# joblib.dump(model, 'musicZA-recommender.joblib')

Accuracy Score =  100.0 %.